﻿<%@ Page Language="VB" %>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    
</head>

<body>

               
                <table width="100%" border="0" cellpadding="0" align="center">
                    <tr>
                        
                        
                        <td>
                           Hello World
                          
                        </td>
                      
                     </tr>
                 </table>
                 
</body>
</html>